<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="" alt="Image" height="50" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">Bem vindo, {{ username }}!</div>
                </div>
                <form [formGroup]="formUser" (ngSubmit)="updateUser()">
                    <label for="username1" class="block text-900 text-xl font-medium mb-2">Nome de úsuario</label>
                    <input id="username1" type="text" formControlName="username" placeholder="Nome de úsuario" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">

                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                    <input id="email1" type="text" formControlName="email" placeholder="Nome de Email" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">

                    <label for="first_name1" class="block text-900 text-xl font-medium mb-2">Nome</label>
                    <input id="first_name1" type="text" formControlName="first_name" placeholder="Nome" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">

                    <label for="last_name1" class="block text-900 text-xl font-medium mb-2">Sobrenome</label>
                    <input id="last_name1" type="text" formControlName="last_name" placeholder="Sobrenome" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">

                    <button type="submit" pButton pRipple label="Atualizar" class="w-full p-3 text-xl" [disabled]="formUser.invalid"></button>
                    <a type="buttom" class="font-medium underline ml-2 text-right cursor-pointer" style="color: red">Excluir conta.</a>
                </form>
            </div>
        </div>
    </div>
</div>